{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "es5",
	"printWidth": 120,
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	],
	"quoteProps": "consistent",
	"pluginSearchDirs": false,
	"plugins": [
		"prettier-plugin-svelte",
		"prettier-plugin-tailwindcss"
	]
}