/* prettier-ignore */
.light {
	--color-desktop: #e8e8e8;
	--color-paper  : #f8f8f8;
	--color-input  : #ffffff;
	--color-ink    : #101010;
	--color-accent : #174873;
	--color-primary: #1F6099;
	--color-error  : #b40000;
	--color-border : #c0c0c0;
}
/* prettier-ignore */
.dark {
	--color-desktop: #000000;
	--color-paper  : #1e1e1e;
	--color-input  : #080808;
	--color-ink    : #e0e0e0;
	--color-primary: #295fa6;
	--color-accent : #174873;
	--color-error  : #b40000;
	--color-border : #303030;
}
